AppBundle\Entity\Post:
    type: entity
    table: Post
    id:
        postid:
            type: integer
            nullable: false
            options:
                unsigned: false
            id: true
            column: postId
            generator:
                strategy: IDENTITY
    fields:
        posttitle:
            type: text
            nullable: true
            length: 65535
            options:
                fixed: false
            column: postTitle
        price:
            type: decimal
            nullable: true
            precision: 10
            scale: 0
            options:
                default: '0'
        description:
            type: text
            nullable: true
            length: 65535
            options:
                fixed: false
        category:
            type: string
            nullable: true
            length: 50
            options:
                fixed: false
        studentemail:
            type: string
            nullable: true
            length: 50
            options:
                fixed: false
            column: studentEmail
        imagepath:
            type: text
            nullable: true
            length: 65535
            options:
                fixed: false
            column: imagePath
        date:
            type: datetime
            nullable: true
        username:
            type: string
            nullable: true
            length: 45
            options:
                fixed: false
            column: userName
        flag:
            type: integer
            nullable: true
            options:
                unsigned: false
                default: '0'
            column: Flag
    lifecycleCallbacks: {  }
