<form action="post" method="get">
    Username:<br>
    <input type="text" name="Studentemail">
    <br>
    Password:<br>
    <input type="text" name="Password">
    <br><br>
    <input type="submit">
</form>