{% extends "base.html.twig" %}

    {% block head %}
        {{ parent() }}

        <title>{% block title %}Post Item{% endblock title %}</title>

        {% block stylesheets %}
            {{ parent() }}
        {% endblock stylesheets %}

        <style>
            body {
                padding-top: 90px;
            }

            h1 {
                padding-bottom: 50px;
            }

            .text-left-imp .form-group .control-label {
                text-align: left !important;
            }


        </style>
    {% endblock head %}


{% block body %}

    <body>
    <h1 align="center">Post Item</h1>

    <div class="container">
        <form name="postForm" action="something.php" id="postForm" method="POST">

                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-6 col-lg-6 control-label">Item Name: </label>
                        <div class="col-md-6 col-lg-6">
                            <input type="text" class="form-control" name="itemName" placeholder="Item Name"
                                   required="true">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 text-left-imp">
                    <div class="form-group row">
                        <label class="col-md-4 control-label">Price: </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="price" placeholder="Price" required="true">
                        </div>
                    </div>
                </div>

            <div class="col-md-11">
                <div class="form-group">
                    <label for="comment">Description:</label>
                    <textarea class="form-control" rows="10" id="description"></textarea>
                </div>
            </div>

            <div class="text-center">
                <div class="offset-sm-2 col-sm-12">
                    <button type="submit" value="Submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
    </body>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}


{% endblock javascripts %}