{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}

    <title>{% block title %}Search{% endblock title %}</title>

    {% block stylesheets %}
        {{ parent() }}

        <style>
            #imaginary_container {
                margin-top: 20%; /* Don't copy this */
            }

            .stylish-input-group .input-group-addon {
                background: white !important;
            }

            .stylish-input-group .form-control {
                border-right: 0;
                box-shadow: 0 0 0;
                border-color: #ccc;
            }

            .stylish-input-group button {
                border: 0;
                background: transparent;
            }
        </style>
    {% endblock stylesheets %}

{% endblock head %}

{% block body %}

    <!--Kendricks old VP search bar
    <form action="results" method="get">
        <input type="text" name="name">
        <input type="submit">
    </form>-->

    <div class="row">
        <form action="results" method="get">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="imaginary_container">
                    <div class="col-sm-3">
                    <select class="form-control" id="category" name="category" placeholder="Category" required="true">
                        <option name="Birds">Birds</option>
                        <option name = "Supplies">Supplies</option>
                        <option name = "Clothing">Clothing</option>
                        <option name = "Electronic">Electronic</option>
                        <option name = "Books">Books</option>
                    </select>
                </div>
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" name="search_term" placeholder="Search">
                        <span class="input-group-addon">
                            <button type="submit">
                        </button>
                    </span>
                    </div>
                </div>
            </div>

        </form>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}