{% extends "base.html.twig" %}

    {% block head %}
        {{ parent() }}

        {% block stylesheets %}
            {{ parent() }}
        {% endblock stylesheets %}

        <style>
            body {
                padding-top: 90px;
            }

            h1 {
                padding-bottom: 50px;
            }

            #custom-search-input {
                margin:0;
                margin-top: 10px;
                padding: 0;
            }

            #custom-search-input .search-query {
                padding-right: 3px;
                padding-right: 4px \9;
                padding-left: 3px;
                padding-left: 4px \9;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */

                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            #custom-search-input button {
                border: 0;
                background: none;
                /** belows styles are working good */
                padding: 2px 5px;
                margin-top: 2px;
                position: relative;
                left: -28px;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */
                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                color: rgba(7, 2, 4, 0.49);
            }

            .search-query:focus + button {
                z-index: 3;
            }
            #categoryHeader {
                padding-top: 120px;
            }

        </style>
    {% endblock head %}


{% block body %}

    <body>
    <h1 align="center">GatorTraders</h1>

    <div class="container">
        <form name="regForm" action="something.php" id="searchForm" method="POST">

            <div class="container">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Search" />
                            <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div id="categoryHeader">
    <h2 align="center">Categories</h2>
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}