{% extends "base.html.twig" %}

    {% block head %}
        {{ parent() }}

        {% block stylesheets %}
            {{ parent() }}
        {% endblock stylesheets %}

        <style>
            body {
                padding-top: 50px;
            }

            h1 {
                padding-bottom: 40px;
            }

            #custom-search-input {
                margin:0;
                margin-top: 10px;
                padding: 0;
                padding-left: 200px;
                padding-right: 200px;

            }

            #custom-search-input .search-query {
                padding-right: 3px;
                padding-right: 4px \9;
                padding-left: 3px;
                padding-left: 4px \9;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */

                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            #custom-search-input button {
                border: 0;
                background: none;
                /** belows styles are working good */
                padding: 2px 5px;
                margin-top: 2px;
                position: relative;
                left: -28px;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */
                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                color: rgba(7, 2, 4, 0.49);
            }

            .search-query:focus + button {
                z-index: 3;
            }


            #regHeader {
                padding-left: 00px;
            }

            #categoryHeader {
                padding-left: 00px;

            }

            .btn-group .button {
                background-color: #FFFFFF; /* Green */
                border: 1px solid white;
                color: black;
                padding: 20px 27px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                width: 300px;
                display: block;


            }

            .btn-group .button1 {
                background-color: #FFFFFF; /* Green */
                border: 1px solid white;
                color: black;
                padding: 20px 27px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                width: 300px;
                display: block;


            }

            .btn-group .button2 {
                background-color: #FFFFFF;
                border: 1px solid white;
                color: black;
                padding: 20px 27px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                width: 300px;
                display: block;
            }

            .btn-group .button3 {
                background-color: #FFFFFF;
                border: 1px solid white;
                color: black;
                padding: 20px 27px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                width: 300px;
                display: block;
            }
            .btn-group .button:not(:last-child) {
                border-bottom: none; /* Prevent double borders */
            }


            .button-a {
                background-color: #FFFFFF;
                border: none;
                color: black;
                text-align: center;
                text-decoration: none;
                display: block;
                font-size: 16px;
                margin: auto;
                cursor: pointer;
                position: center;

            }


            .button16 {padding: 0px;}
        </style>
    {% endblock head %}


{% block body %}

    <body>
    <h1 align="center">GatorTraders</h1>

    <div class="container">
        <form name="regForm" action="something.php" id="searchForm" method="POST">

            <div class="container">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Search" />
                            <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <h3 align="center">Categories</h3>

        <form action="results" method="get">
            <div class="btn-group">
                <button type="submit" name="category" value="arts" class="button">Arts</button>
                <button type="submit" name="category" value="books" class="button">Books</button>
                <button type="submit" name="category" value="cars" class="button">Cars</button>
                <button type="submit" name="category" value="computers" class="button">Computers</button>
            </div>

            <div class="btn-group">
                <button type="submit" name="category" value="drinkware" class="button1">Drinkware</button>
                <button type="submit" name="category" value="electronics" class="button1">Electronics</button>
                <button type="submit" name="category" value="free-stuff" class="button1">Free Stuff</button>
                <button type="submit" name="category" value="furniture" class="button1">Furniture</button>
            </div>

            <div class="btn-group">
                <button type="submit" name="category" value="gaming-consoles" class="button2">Gaming Consoles</button>
                <button type="submit" name="category" value="hardware" class="button2">Hardware</button>
                <button type="submit" name="category" value="home" class="button2">home</button>
                <button type="submit" name="category" value="movies" class="button2">Movies</button>
            </div>

            <div class="btn-group">
                <button type="submit" name="category" value="usic" class="button3">Music</button>
                <button type="submit" name="category" value="pet-supplies" class="button3">Pet Supplies</button>
                <button type="submit" name="category" value="supplies" class="button3">Supplies</button>
                <button type="submit" name="category" value="etc" class="button3">ETC</button>
            </div>
    </form>
    </body>

    <div id="needHeader">
        <h4 align="center">Need to post something?</h4>
    </div>


    <div id="regHeader">
        <form action="register" method="POST">
        <button type="submit" class="button-a button16">Register</button>
        </form>
    </div>



{% endblock body %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}
