{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
    <h1>Welcome you stupid motherfucking looking ass bitch to this stupidass project. </h1>


        <div>

        </div>

{% endblock %}