{% extends "base.html.twig" %}

    {% block head %}
        {{ parent() }}

        {% block stylesheets %}
            {{ parent() }}
        {% endblock stylesheets %}

        <style>
            body {
                padding-top: 70px;
            }

            h1 {
                padding-bottom: 40px;
            }

            #custom-search-input {
                margin:0;
                margin-top: 10px;
                padding: 0;
                padding-left: 200px;
                width: 975px;

            }

            #custom-search-input .search-query {
                padding-right: 3px;
                padding-right: 4px \9;
                padding-left: 3px;
                padding-left: 4px \9;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */

                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            #custom-search-input button {
                border: 0;
                background: none;
                /** belows styles are working good */
                padding: 2px 5px;
                margin-top: 2px;
                position: relative;
                left: -28px;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */
                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                color: rgba(7, 2, 4, 0.49);
            }

            .search-query:focus + button {
                z-index: 3;
            }
            #categoryHeader {
                padding-top: 15px;
                padding-left: 90px;
            }

            #regHeader {
                padding-left: 600px;
            }

            .button {
                background-color: #FFFFFF;
                border: none;
                color: black;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: auto;
                cursor: pointer;
            }

            td, th {
                width: 200px;
                height: 80px;
                text-align: center;
            }

            .button-a {
                background-color: #FFFFFF;
                border: none;
                color: black;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px;
                cursor: pointer;
            }

            .button16 {
                padding: 10px;}
        </style>
    {% endblock head %}


{% block body %}

    <body>
    <h1 align="center">GatorTraders</h1>

    <div class="container">
        <form name="regForm" action="something.php" id="searchForm" method="POST">

            <div class="container">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Search" />
                            <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <h3 align="center">Categories</h3>

    <div id="categoryHeader">

        <form action="results" method="get">
            <table>
                <tr>
                    <td><button type="submit" name="category" value="books" class="button button1">Books</button></td>
                    <td><button type="submit" name="category" value="supplies" class="button button2">Supplies</button></td>
                    <td><button type="submit" name="category" value="arts" class="button button3">Arts</button></td>
                    <td><button type="submit" name="category" value="computers" class="button button4">Computers</button></td>
                    <td><button type="submit" name="category" value="gaming-consoles" class="button button5">Gaming Consoles</button></td>
                    <td><button type="submit" name="category" value="hardward" class="button button6">Hardware</button></td>

                </tr>

                <tr>
                    <td><button type="submit" name="category" value="movies" class="button button6">Movies</button></td>
                    <td><button type="submit" name="category" value="electronics" class="button button7">Electronics</button></td>
                    <td><button type="submit" name="category" value="free-stuff" class="button button8">Free Stuff</button></td>
                    <td><button type="submit" name="category" value="music" class="button button9">Music</button></td>
                    <td><button type="submit" name="category" value="furniture" class="button button10">Furniture</button></td>
                    <td><button type="submit" name="category" value="cars" class="button button11">Cars</button></td>
                </tr>

                <tr>
                    <td><button type="submit" name="category" value="drinkware" class="button button12">Drinkware</button></td>
                    <td><button type="submit" name="category" value="home" class="button button13">Home</button></td>
                    <td><button type="submit" name="category" value="pet-supplies" class="button button14">Pet supplies</button></td>
                    <td><button type="submit" name="category" value="etc" class="button button15">ETC</button></td>
                </tr>
            </table>
        </form>
    </div>

    <div id="needHeader">
        <h4 align="center">Need to post something?</h4>
    </div>


    <div id="regHeader">
        <form action="register" method="POST">
        <button type="submit" class="button-a button16">Register</button>
        </form>
    </div>



{% endblock body %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}